* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Roboto Condensed', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    background-image: url(./img/drum-kit.jpeg);
    background-position: center;
    background-color: black;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.431);
    padding: 4px;
    box-shadow: 0 10px 10px -8px black;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 4px;
}

.navbar h1 {
    font-size: 32px;
    color: white;
    letter-spacing: 4px;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0 0 10px black;
    padding-right: 56px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 4px 128px;
}

.background button {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: inherit;
    color: darkorange;
    background-color: black;
    padding: 8px 32px;
    border-radius: 1px;
    border: none;
}

.background :hover {
    background-color: white;
}

.keys {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 8px 8px;
    text-align: center;
    padding-bottom: 56px;
}

.key {
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: #d3d3d36c;
    border-radius: 10px;
    box-shadow: 0 0 4px black;
    transition: all 0.09s;
}

.key :hover {
    background-color: white;
}

.playing {
    transform: scale(1.2);
    border-color: darkred;
    box-shadow: 0 0 10px darkorange;
}

kbd {
    padding: 14px;
    font-size: 56px;
    font-weight: 800;
    color: white;
    text-shadow: 0 0 10px black;
    background-color: rgba(0, 0, 0, 0.312);
    border-radius: 10px;
    border: solid 4px rgb(0, 0, 0);
    box-shadow: 0 0 4px black;
}

.sound {
    padding: 1px;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 8px black;
    color: darkorange;
    pointer-events: none;
}