/** style.css **/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    padding: 0 64px;
    font-family: 'Roboto Condensed', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    background-image: url(./img/drum-kit.jpeg);
    background-position: center;
    background-color: black;
}

.keys {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 32px 8px;
    text-align: center;
}

.key {
    display: flex;
    flex-direction: column;
    width: 100px;
    background-color: #d3d3d36c;
    border-radius: 10px;
    box-shadow: 0 0 4px black;
    transition: transform 0.07s;
}

.playing {
    transform: scale(1.1);
    border-color: black;
    box-shadow: 0 0 10px black;
}

kbd {
    padding: 14px;
    font-size: 56px;
    font-weight: 800;
    color: white;
    text-shadow: 0 0 10px black;
    background-color: #2600e435;
    border-radius: 10px;
    border: solid 4px rgb(0, 0, 0);
    box-shadow: 0 0 4px black;
}

.sound {
    padding: 1px;
    margin-top: 2px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 0 8px black;
    color: #2600e4ad;
}